<!-- Main container -->
<div class="w-full min-h-screen flex flex-col items-center bg-white dark:bg-gray-600 p-10 m-0">
  <!-- Header container -->
  <div class="w-full py-6 mx-auto">
    <!-- User Role Heading -->
    <h1 class="text-black dark:text-white">User Manager</h1>
    <hr class="mb-16">

    <!-- Search Users Section -->
    <!-- Add is not loading and is data to search section -->
    <div *ngIf="!isLoading && isData" class="w-full flex justify-between items-center">
      <div class="relative w-3/12 min-w-[21rem]">
        <!-- Search Icon -->
        <i class="fa fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-800 dark:text-gray-300"></i>
        <!-- Search Input -->
        <input
          class="w-full bg-gray-50 text-gray-800 dark:bg-gray-600 dark:text-white rounded-xl p-3 pl-10 placeholder:text-gray-800 placeholder:dark:text-gray-300 dark:border-gray-300"
          type="search" placeholder="Search by users or roles (E.g. John | Client)" [(ngModel)]="searchQuery"
          (input)="search()">
      </div>
    </div>
  </div>

  <!-- Table Container -->
  <div *ngIf="!isLoading && isTableData" class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
    <!-- Table -->
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <!-- Table Header -->
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Date of Birth</th>
          <th scope="col" class="px-6 py-3">Last Login</th>
          <th scope="col" class="px-6 py-3">Role</th>
          <th scope="col" class="px-6 py-3 w-fit text-center">Controls</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let user of dataSource.data"
          class="odd:bg-white odd:hover:bg-gray-100 odd:dark:bg-gray-900 odd:dark:hover:bg-gray-700 even:bg-gray-50 even:hover:bg-gray-100 even:dark:bg-gray-800 border-b even:dark:hover:bg-gray-700 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{user.user_Name}} {{user.user_Surname}}</th>
          <td class="px-6 py-4">{{ user.email }}</td>
          <td class="px-6 py-4">{{ user.user_DOB | date: 'MMM dd, yyyy, h:mm:ss a' }}</td>
          <td class="px-6 py-4">{{ user.user_LastLogin | date: 'MMM dd, yyyy, h:mm:ss a' }}</td>
          <td class="px-6 py-4">{{ user.role.name }}</td>
          <td class="px-6 py-4 w-fit align-middle">
            <div class="flex justify-center items-center h-full">
              <div class="w-fit">
                <button type="button"
                  class="mx-2 mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                  (click)="openRoleModal(user)"><i class="fa-solid fa-user-plus mr-2"></i>Assign Role</button>
              </div>
              <div class="w-fit">
                <button type="button"
                  class="mx-2 mb-0 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                  (click)="openRemoveRoleModal(user)"><i class="fa-solid fa-trash mr-2"></i> Remove Role</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav
      class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4 text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      aria-label="Table navigation">
      <!-- Pagination Calculation -->
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
        Showing {{ pageIndex * pageSize + 1 }}-{{ (pageIndex + 1) * pageSize > totalItems ? totalItems : (pageIndex + 1)
        * pageSize }}
        of {{ totalItems }}
      </span>
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <!-- Previous Button -->
          <button (click)="onPageChange({pageIndex: pageIndex - 1, pageSize: pageSize})" [disabled]="pageIndex === 0"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed">
            Previous
          </button>
        </li>
        <!-- Pagination Number -->
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <button (click)="onPageChange({pageIndex: i, pageSize: pageSize})" [class.text-blue-600]="i === pageIndex"
            [class.bg-blue-50]="i === pageIndex"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            {{ i + 1 }}
          </button>
        </li>
        <!-- Next Button -->
        <li>
          <button (click)="onPageChange({pageIndex: pageIndex + 1, pageSize: pageSize})"
            [disabled]="pageIndex >= totalPages - 1"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Add/Edit User Role Modal -->
  <div *ngIf="updateRoleModal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative p-4 w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-6 border-b rounded-t dark:border-gray-600">
          <h3 class="font-semibold text-gray-900 dark:text-white" style="margin-bottom: 0px;">
            Update {{currentUser.user_Name}} {{currentUser.user_Surname}}'s role:
          </h3>
          <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="closeModal()">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <!-- Modal body -->
        <form class="p-5">
          <div class="mb-10">
            <label for="RoleID" class="text-gray-800 dark:text-gray-200">Role</label>
            <select id="RoleID" name="RoleID"
              class="mb-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              [(ngModel)]="currentUser.role_ID" required>
              <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
            </select>
          </div>
          <div class="flex justify-end space-x-4">
            <button type="button"
              class="w-1/2 cursor-pointer disabled:opacity-50 disabled:hover:bg-green-700 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
              (click)="onRoleSubmit()">
              <i class="fa-regular fa-floppy-disk mr-2"></i>
              Assign
            </button>
            <button type="button"
              class="w-1/2 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
              (click)="closeModal()">
              <i class="fa-solid fa-xmark mr-2"></i>
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="removeRoleModal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 dark:bg-opacity-70">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button"
          class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="closeModal()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
          <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <h4 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to remove {{currentUser.user_Name}} {{currentUser.user_Surname}}'s role?</h4>
          <button (click)="confirmRemoveRole()" type="button"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
            Yes, I'm sure
          </button>
          <button (click)="closeModal()" type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            No, cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>