<!-- Main container -->
<div class="w-full min-h-screen flex flex-col items-center bg-white dark:bg-gray-600 p-10 m-0">
  <!-- Header container -->
  <div class="w-full py-6 mx-auto">
    <!-- Ticket Software Heading -->
    <h1 class="text-black dark:text-white">VDI Software</h1>
    <!-- HR must be changed to mb-16 -->
    <hr class="mb-16">

    <!-- Add Software Button aligned to the left if loading and there is no data-->
    <div *ngIf="!isLoading && !isData" class="relative flex justify-start">
      <button type="button"
        class="w-fit focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
        (click)="openAddModal()">
        <!-- Plus icon -->
        <i class="fa-regular fa-plus mr-2"></i>
        Add Software
      </button>
    </div>

    <!-- Search Spftware Section -->
    <!-- Add is not loading and is data to search section -->
    <div *ngIf="!isLoading && isData" class="w-full flex justify-between items-center">
      <div class="relative w-3/12 min-w-[21rem]">
        <!-- Search Icon -->
        <i class="fa fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-800 dark:text-gray-300"></i>
        <!-- Search Input -->
        <input
          class="w-full bg-gray-50 text-gray-800 dark:bg-gray-600 dark:text-white rounded-xl p-3 pl-10 placeholder:text-gray-800 placeholder:dark:text-gray-300 dark:border-gray-300"
          type="search" placeholder="Search by software name or software description" [(ngModel)]="searchQuery"
          (input)="searchSoftware()">
      </div>

      <!-- Add Ticket Tag Button aligned to the right -->
      <div class="relative flex justify-end">
        <button type="button"
          class="w-fit focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
          (click)="openAddModal()">
          <!-- Plus icon -->
          <i class="fa-regular fa-plus mr-2"></i>
          Add Software
        </button>
      </div>
    </div>
  </div>

  <!-- Table Container -->
  <!-- Add is not loading and is data to table -->
  <div *ngIf="!isLoading && isTableData" class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <!-- Table Header -->
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Software Name</th>
          <th scope="col" class="px-6 py-3">Software Description</th>
          <th scope="col" class="px-6 py-3 w-20 text-center">Controls</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let software of displayedSoftware"
          class="odd:bg-white odd:hover:bg-gray-100 odd:dark:bg-gray-900 odd:dark:hover:bg-gray-700 even:bg-gray-50 even:hover:bg-gray-100 even:dark:bg-gray-800 border-b even:dark:hover:bg-gray-700 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{software.software_Name}} </th>
          <td class="px-6 py-4"> {{ software.software_Description }} </td>
          <td class="px-6 py-4 w-fit align-middle">
            <div class="flex justify-center items-center h-full">
              <div class="w-fit">
                <button (click)="openEditModal(software)" type="button"
                  class="mx-2 mb-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                  <i class="fa-regular fa-pen-to-square"></i>
                </button>
              </div>
              <div class="w-1/2">
                <button (click)="openDeleteModal(software.software_ID)" type="button"
                  class="mx-2 mb-0 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav
      class="flex items-center flex-column flex-wrap md:flex-row justify-between p-4 text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      aria-label="Table navigation">
      <span class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto">
        Showing {{ pageIndex * pageSize + 1 }}-{{ (pageIndex + 1) * pageSize > totalItems ? totalItems : (pageIndex + 1)
        * pageSize }}
        of {{ totalItems }}
      </span>
      <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
        <li>
          <button (click)="onPageChange({pageIndex: pageIndex - 1, pageSize: pageSize})" [disabled]="pageIndex === 0"
            class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed">
            Previous
          </button>
        </li>
        <li *ngFor="let page of [].constructor(totalPages); let i = index">
          <button (click)="onPageChange({pageIndex: i, pageSize: pageSize})" [class.text-blue-600]="i === pageIndex"
            [class.bg-blue-50]="i === pageIndex"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
            {{ i + 1 }}
          </button>
        </li>
        <li>
          <button (click)="onPageChange({pageIndex: pageIndex + 1, pageSize: pageSize})"
            [disabled]="pageIndex >= totalPages - 1"
            class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white disabled:opacity-50 disabled:cursor-not-allowed">
            Next
          </button>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Add loading below the pagination -->
  <div *ngIf="isLoading" class="flex justify-center">
    <div role="status">
      <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
        viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor" />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill" />
      </svg>
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <!-- Add isData below isLoading -->
  <div *ngIf="!isLoading && (!isData || !isTableData)"
    class="flex items-center p-4 text-sm text-gray-800 border border-gray-300 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600"
    role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">No software to display</span>
    </div>
  </div>

  <!-- Add/Edit software Modal -->
  <div *ngIf="showModal" id="crud-modal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-6 border-b rounded-t dark:border-gray-600">
          <h2 class="text-lg font-semibold text-gray-900 dark:text-white" style="margin-bottom: 0px;">
            {{ isEdit ? 'Edit software' : 'Add software' }}
          </h2>
          <hr class="mb-10">
          <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            (click)="closeModal()">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <!-- Modal body -->
        <form class="p-5" (ngSubmit)="onSubmit()" #softwareForm="ngForm">
          <!-- Name -->
          <div class="mb-10">
            <label for="softwareName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Software
              Name</label>
            <input type="text" id="softwareName" [(ngModel)]="currentSoftware.software_Name" name="softwareName"
              class="peer bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              ngModel required #softwareName="ngModel">
            <!-- Invalid condition -->
            <p class="mt-2 text-red-600 text-xs" style="margin-top: 0.5rem;"
              *ngIf="softwareName.invalid && softwareName.touched">
              Please enter a name for the software
            </p>
          </div>

          <!-- Description -->
          <div class="mb-10">
            <label for="softwareDescription"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Software
              Description</label>
            <textarea id="softwareDescription" [(ngModel)]="currentSoftware.software_Description"
              name="softwareDescription" rows="4"
              class="peer block p-2.5 w-full text-sm max-h-24 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              ngModel required #softwareDescription="ngModel"></textarea>
            <!-- Invalid condition -->
            <p class="mt-2 text-red-600 text-xs" style="margin-top: 0.5rem;"
              *ngIf="softwareDescription.invalid && softwareDescription.touched">
              Please enter a description for the software
            </p>
          </div>

          <button type="submit"
            class="cursor-pointer disabled:opacity-50 disabled:hover:bg-green-700 w-full focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
            [disabled]="softwareForm.invalid">
            {{ isEdit ? 'Save Changes' : 'Add Software' }}
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- Delete Software Modal -->
  <div *ngIf="showDeleteModal" tabindex="-1" aria-hidden="true"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 dark:bg-opacity-70">
    <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button"
          class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="closeDeleteModal()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="p-4 md:p-5 text-center">
          <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to delete this
            software?</h3>
          <button (click)="confirmDelete()" type="button"
            class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
            Yes, I'm sure
          </button>
          <button (click)="closeDeleteModal()" type="button"
            class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            No, cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Success Modal -->
  <div *ngIf="showSuccessModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white dark:bg-gray-800">
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Success</h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500 dark:text-gray-300">Software procedure has been successfull!</p>
        </div>
        <div class="items-center px-4 py-3">
          <button (click)="closeSuccessModal()"
            class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Error Modal -->
  <div *ngIf="showErrorModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white dark:bg-gray-800">
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Error</h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500 dark:text-gray-300">Failed to delete software. Please try again later</p>
        </div>
        <div class="items-center px-4 py-3">
          <button (click)="closeErrorModal()"
            class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Confirmed Modal -->
  <div *ngIf="showDeleteConfirmedModal"
    class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50">
    <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white dark:bg-gray-800">
      <div class="mt-3 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Software Deleted</h3>
        <div class="mt-2 px-7 py-3">
          <p class="text-sm text-gray-500 dark:text-gray-300">The software has successfully been removed from the
            system.
          </p>
        </div>
        <div class="items-center px-4 py-3">
          <button (click)="closeDeleteConfirmedModal()"
            class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>