.bg-background-image {
    background-image: url('/assets/Images/Login_Screen.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .info-card {
    background-color: rgba(0, 0, 0, 0.65) !important;
    backdrop-filter: blur(5px);
  }