<div class="body">

    <div id="page">
        <div id="container">
            <h1>: (</h1>
            <h2>Your PC ran into a problem and needs to restart.
                We're just collecting some error info, and we'll restart for you.
            </h2>
            <h2>
                <span id="percentage">0</span>% complete
            </h2>
            <div id="details">
                <div id="qr">
                    <div id="image">
                        <img
                            src="https://api.qrserver.com/v1//create-qr-code/?size=164x164&color=3973aa&data=dummy123456" />
                    </div>
                </div>
                <div id="stopcode">
                    <h4>For more information about this issue and possible fixes, visit
                        <br />
                        http:/windows.com/stopcode
                    </h4>
                    <h5>
                        If you call a support person, give them this info:
                        <br />
                        Stop Code:
                        CRITICAL_PROCESS_ERROR
                    </h5>
                    <p>
                        <a href="https://informaticsquintet.netlify.app/">Just kidding :) click here for our website</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .body {
        height: 110vh !important;
        background: #3973aa !important;
        color: #fefefe !important;
        font-family: "Segoe UI", sans-serif !important;
        margin: 0 !important;
    }
</style>