<!-- <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [completed]="false">
        <div class="passwordContainer">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Fill out your current password</ng-template>
                
                    <mat-form-field>
                        <mat-label>Old password</mat-label>
                        <input matInput formControlName="firstCtrl" [type]="'password'" required>
                    </mat-form-field>
                    <div>
                        <button mat-button (click)="goFoward(stepper)" [disabled]="isDisabled">Next</button>
                    </div>
                  
            </form>
        </div>     
    </mat-step>
    <mat-step [stepControl]="OTP" [completed]="false">
        <div class="passwordContainer">
            <form [formGroup]="OTP">
                <ng-template matStepLabel>Fill in OTP sent to your email </ng-template>
                
                    <mat-form-field>
                        <mat-label>OTP</mat-label>
                        <input matInput formControlName="firstCtrl" [type]="'password'" required>
                    </mat-form-field>
                    <div>
                        <button mat-button (click)="goFowardOTP(stepper)" [disabled]="isDisabled2">Next</button>
                    </div>
                  
            </form>
        </div>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <div class="passwordContainer">
        <form [formGroup]="secondFormGroup" class = "formInputs">
            <ng-template matStepLabel>Fill out your new password</ng-template>
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput formControlName="secondCtrl" [type]="'password'"  (blur)="updatePassError()" (keypress)="updatePassError()" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Confirm New Password</mat-label>
                <input matInput formControlName="confirmSecondCtrl" [type]="'password'" (blur)="updatePassError()" (keyup)="updatePassError()" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="passbutton">Next</button>
            </div>
        </form>
    
        <div class="text-red-400 text-sm Validators">
            <span class="block text-danger"
                [ngClass]="{'removeWarn': passwordFormField.value?.match('^(?=.*[A-Z])')}">At least one uppercase letter.</span>
            <span class="block text-danger"
                [ngClass]="{'removeWarn': passwordFormField.value?.match('(?=.*[a-z])')}">At least one lowercase letter.</span>
            <span class="block text-danger"
                [ngClass]="{'removeWarn': passwordFormField.value?.match('(.*[0-9].*)')}">At least one digit.</span>
            <span class="block text-danger"
                [ngClass]="{'removeWarn': passwordFormField.value?.match('(?=.*[!@#$%^&*])')}">At least one special character.</span>
            <span class="block text-danger"
                [ngClass]="{'removeWarn': passwordFormField.value?.match('.{8,}')}">At least 8 characters long.</span>
                <span class="block text-danger"
                [ngClass]="{'removeWarn': !passbutton}">Passwords don't match</span>
        </div>
    </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="passwordContainer" style="flex-direction: column;">
            <p>You are now done.</p>
            <div>
                <button mat-button (click)="goToLogin()">Back</button>
            </div>
        </div>
        
    </mat-step>
</mat-stepper> -->

<!-- Wrap the mat-stepper in a div to center it -->
<div class="flex justify-center items-center h-screen p-10 m-0 bg-black">
    <img src="../../../../assets/Images/BMW_Sport_Background.jpg"
        class="fixed z-0 opacity-60 object-cover h-screen min-w-full" alt="">
    <div
        class="p-10 relative w-auto z-50 bg-white border info-card border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 bg-opacity-60 dark:bg-opacity-95">
        <div class="flex justify-between pb-5">
            <h1 class="text-xl text-black dark:text-white" style="margin-bottom: 0px;">Change Password</h1>
        </div>
        <hr class="mb-10">

        <mat-stepper linear #stepper
            class="relative z-50 bg-white border info-card border-gray-50 rounded-lg dark:bg-gray-800 dark:border-gray-800 bg-opacity-60 dark:bg-opacity-95">
            <!-- Step 1: Old Password -->
            <mat-step [stepControl]="firstFormGroup" [completed]="false">
                <div class="max-w-md mx-auto p-4">
                    <form [formGroup]="firstFormGroup" class="space-y-4">
                        <ng-template matStepLabel>
                            <h5 class="text-gray-800 dark:text-gray-50" style="margin-bottom: 0px;">Fill out your
                                current password</h5>
                        </ng-template>

                        <div>
                            <label for="old-password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old
                                password</label>
                            <input id="old-password" formControlName="firstCtrl" type="password"
                                class="block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:ring focus:ring-blue-300 dark:focus:ring-blue-500"
                                required>
                        </div>
                        <div>
                            <button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
                                (click)="goForward(stepper)" [disabled]="isDisabled">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
            </mat-step>

            <!-- Step 2: OTP -->
            <mat-step [stepControl]="OTP" [completed]="false">
                <div class="max-w-md mx-auto p-4">
                    <form [formGroup]="OTP" class="space-y-4">
                        <ng-template matStepLabel>
                            <h5 class="text-gray-800 dark:text-gray-50" style="margin-bottom: 0px;">Fill in OTP sent to
                                your email</h5>
                        </ng-template>
                        <div>
                            <label for="otp"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">OTP</label>
                            <input id="otp" formControlName="firstCtrl" type="password"
                                class="block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:ring focus:ring-blue-300 dark:focus:ring-blue-500"
                                required>
                        </div>
                        <div>
                            <button type="button"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
                                (click)="goForwardOTP(stepper)" [disabled]="isDisabled2">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
            </mat-step>

            <!-- Step 3: New Password -->
            <mat-step [stepControl]="secondFormGroup">
                <div class="max-w-md mx-auto p-4">
                    <form [formGroup]="secondFormGroup" class="space-y-4">
                        <ng-template matStepLabel>
                            <h5 class="text-gray-800 dark:text-gray-50" style="margin-bottom: 0px;">Fill out your new
                                password</h5>
                        </ng-template>
                        <div>
                            <label for="new-password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
                                Password</label>
                            <input id="new-password" formControlName="secondCtrl" type="password"
                                class="block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:ring focus:ring-blue-300 dark:focus:ring-blue-500"
                                (blur)="updatePassError()" (keypress)="updatePassError()" required>
                        </div>
                        <div>
                            <label for="confirm-password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm New
                                Password</label>
                            <input id="confirm-password" formControlName="confirmSecondCtrl" type="password"
                                class="block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md bg-white dark:bg-gray-700 text-gray-900 dark:text-white focus:ring focus:ring-blue-300 dark:focus:ring-blue-500"
                                (blur)="updatePassError()" (keyup)="updatePassError()" required>
                        </div>
                        <div class="text-red-400 dark:text-red-500 text-sm Validators">
                            <span
                                [ngClass]="{'text-gray-500 dark:text-gray-400': passwordFormField.value?.match('^(?=.*[A-Z])') }">At
                                least one uppercase letter.</span><br>
                            <span
                                [ngClass]="{'text-gray-500 dark:text-gray-400': passwordFormField.value?.match('(?=.*[a-z])') }">At
                                least one lowercase letter.</span><br>
                            <span
                                [ngClass]="{'text-gray-500 dark:text-gray-400': passwordFormField.value?.match('(.*[0-9].*)') }">At
                                least one digit.</span><br>
                            <span
                                [ngClass]="{'text-gray-500 dark:text-gray-400': passwordFormField.value?.match('(?=.*[!@#$%^&*])') }">At
                                least one special character.</span><br>
                            <span
                                [ngClass]="{'text-gray-500 dark:text-gray-400': passwordFormField.value?.match('.{8,}') }">At
                                least 8 characters long.</span><br>
                            <span [ngClass]="{'text-gray-500 dark:text-gray-400': !passbutton}">Passwords don't
                                match</span>
                        </div>
                        <div>
                            <button matStepperPrevious
                                class="text-gray-900 dark:text-white bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
                                Back
                            </button>
                            <button (click)="goForwardCPass(stepper)"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
                                [disabled]="passbutton">
                                Next
                            </button>
                        </div>
                    </form>
                </div>
            </mat-step>

            <!-- Step 4: Done -->
            <mat-step>
                <div class="max-w-md mx-auto p-4">
                    <ng-template matStepLabel>
                        <h5 class="text-gray-800 dark:text-gray-50" style="margin-bottom: 0px;">Done</h5>
                    </ng-template>
                    <p class="text-gray-700 dark:text-gray-300">You are now done.</p>
                    <button type="button"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
                        (click)="goToLogin()">
                        Back
                    </button>
                </div>
            </mat-step>
        </mat-stepper>

        <a href="/Update-User"
            class="fixed left-5 top-5 py-2.5 px-5 text-sm font-medium flex items-center text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 transition-colors duration-200 hover:cursor-pointer">
            <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18">
                </path>
            </svg>
            Back to Profile
        </a>
    </div>
</div>

<!-- Success Modal -->
<div *ngIf="showSuccessModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <div class="p-4 md:p-5 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Success</h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500 dark:text-gray-300">Password changed successfully!</p>
        </div>
        <div class="mt-4">
          <button (click)="closeSuccessModal()"
            class="px-4 py-2 bg-blue-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div *ngIf="showIncorrectErrorModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <div class="p-4 md:p-5 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Error</h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500 dark:text-gray-300">
            Invalid password please try again.
          </p>
        </div>
        <div class="mt-4">
          <button (click)="closeIncorrectErrorModal()"
            class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div *ngIf="showOTPErrorModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <div class="p-4 md:p-5 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Error</h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500 dark:text-gray-300">
            Invalid OTP please try again.
          </p>
        </div>
        <div class="mt-4">
          <button (click)="closeOTPErrorModal()"
            class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div *ngIf="showErrorModal"
  class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full z-50 flex justify-center items-center">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <div class="p-4 md:p-5 text-center">
        <h3 class="text-lg leading-6 font-medium text-gray-900 dark:text-white">Error</h3>
        <div class="mt-2">
          <p class="text-sm text-gray-500 dark:text-gray-300">
            Password change failed. Please try again.
          </p>
        </div>
        <div class="mt-4">
          <button (click)="closeErrorModal()"
            class="px-4 py-2 bg-red-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>